body, html{
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "nav head head"
    "nav text img";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 155px 1fr 1fr;
}

.menu {
  grid-area: nav;
  background-color: black;
  text-decoration: none;
}

.buscador {
  grid-area: head;
  background-color: aqua;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding-left: 45%;
  padding-right: 5%;
}

.buscar{
  width: 50%;
  height: 40%;
  border-radius: 20px;
}

.cuenta{
  width: 10%;
  padding-left: 10px;

}

.cuenta a{
  padding-left: 10px;
}

.info {
  grid-area: text;
  background-color: rgb(0, 255, 174);
  padding: 10px
}

.adn {
  grid-area: img;
}

.adn video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: img;
}

