:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-image: url('../src/images/health-kid.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}

.search-results {
  display: none;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 0.5rem;
}

.search-results.show {
  display: block;
}

.search-result-item {
  border-bottom: 1px solid #eaeaea;
  padding: 1rem;
}

.search-result-item p {
  margin: 0.5rem 0;
}

/* Estilos de la forma y entrada de búsqueda */
.form {
  --timing: 0.3s;
  --width-of-input: 100%;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 0;
  position: relative;
  display: flex;
  align-items: center;
  padding-inline: 0.2em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease, box-shadow 0.3s ease;
  background: var(--input-bg, #fff);
  box-shadow: none;
  
}

.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: calc(100% - 34px);
  height: 100%;
  padding: 1.4em;
  border: none;
  padding-left: 20.5em; /* Asegurarse de que hay suficiente espacio para el ícono de la lupa */
  padding-right: 20.5em; 
  border: none;
  
}
.search-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.search-btn:hover {
  background-color: #0056b3; /* Color más oscuro para el hover */
}

.reset {
  position: absolute;
  right: 4em; /* Ajustar según el tamaño de tu botón de búsqueda */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background: none;
  visibility: hidden; /* Oculta el botón por defecto */
}
.input:not(:placeholder-shown) + .reset {
  visibility: visible;
}
.form:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--border-height);
  background-color: var(--border-color);
  transform: scaleX(0);
  transition: transform var(--timing) ease;
  z-index: 0; /* Asegúrate de que esté debajo de los elementos */
}
.form:focus-within {
  border-radius: var(--after-border-radius);
}
.form:focus-within:before {
  transform: scaleX(1);
}

.form button,
.form svg {
  z-index: 1;
}

.search-icon {
  position: absolute;
  left: 0.75em; /* Ajusta para alinear el ícono de la lupa */
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  fill: #8b8ba7; /* Color del ícono */
}

.form svg.search-icon {
  position: absolute;
  left: 12px; /* Ajustar según el padding de tu input */
  top: 50%;
  transform: translateY(-50%);
  width: 1em; /* Ajusta según prefieras */
  height: 1em;
}

  @media (max-width: 768px) {
    .search-container {
    padding: 1rem;
    }
    
    .search-results {
    width: 80%;
    }
    }