:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Estilos básicos */
body, input, button {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
}

.header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Estilos del contenedor de búsqueda y resultados */
.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-image: url('../src/images/health-kid.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}

.search-results {
  display: none;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 0.5rem;
}

.search-results.show {
  display: block;
}

.search-result-item {
  border-bottom: 1px solid #eaeaea;
  padding: 1rem;
}

.search-result-item p {
  margin: 0.5rem 0;
}

/* Nuevo diseño del formulario de búsqueda */
.form {
  position: relative;
  width: 200px; /* Ancho del formulario */
  height: 40px; /* Altura del formulario */
  display: flex;
  align-items: center;
  border-radius: 30px;
  background: #fff;
  padding: 0 0.8em; /* Espacio alrededor del contenido interno */
  transition: border-radius 0.5s ease;
}

.input {
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
  padding: 0.5em 0.7em; /* Ajustar el padding para alinear texto */
  border: none;
  background: transparent;
}

.form button {
  background: none;
  color: #8b8ba7;
  border: none;
}

/* Ajustes para icono de búsqueda y reset */
.search-icon {
  fill: #8b8ba7;
}

.reset {
  opacity: 0;
  visibility: hidden;
}

input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

/* Estilos para botón de buscar */
.search-btn {
  background-color: #007bff;
  color: white;
  border-radius: 0 20px 20px 0; /* Solo esquinas redondeadas a la derecha */
}

.search-btn:hover {
  background-color: #0056b3;
}

/* Media queries para diseños responsivos */
@media (max-width: 768px) {
  .search-container {
    padding: 1rem;
  }
  
  .search-results {
    width: 80%;
  }
}
